.button {
	border: 1px solid var(--color-sunset);
	padding: 5px 8px;
	color: var(--color-black);
	background: unset;
	font-size: 18px;
	cursor: pointer;
	border-radius: var(--border-radius-semi-rounded);
	font: unset;
}
