@import "./variables.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--color-black);
	background: linear-gradient(
		var(--color-bright-purple),
		var(--color-mauve),
		var(--color-sunset)
	);
	padding: 90px var(--size-m) var(--size-m);
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	padding-bottom: var(--size-s);
}
