.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 200px);
}

.buttonWrapper {
	padding-bottom: var(--size-m);
}

.iconWrapper {
	display: flex;
	align-items: center;
	padding-left: var(--size-xs);
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
