.navigationBar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-deep-purple);
}

.navigationList {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	display: inline-block;
	padding: var(--size-s);
	color: var(--color-white);
	font-size: var(--size-s);
	border-bottom: 4px solid var(--color-deep-purple);
}

.activeLink {
	border-bottom: 4px solid var(--color-yellow);
}

.link:hover {
	border-bottom: 4px solid var(--color-white);
}

@media screen and (max-width: 550px) {
	.link {
		font-size: 18px;
		padding: var(--size-s) var(--size-xs);
	}
}
