.wrapper {
	padding-bottom: 24px;
}

/* change class name to logo when log is imported */
.title {
	text-align: center;
	font-size: 50px;
	font-weight: var(--font-weight-bold);
	padding-bottom: 0;
}

@media screen and (max-width: 550px) {
	.title {
		font-size: 35px;
	}
}

.subTitle {
	text-align: center;
	font-size: 20px;
	padding-top: var(--size-xs);
}
